[submodule "resources/foundation"]
	path = resources/foundation
	url = https://github.com/zurb/foundation.git
[submodule "resources/jquery"]
	path = resources/jquery
	url = https://github.com/jquery/jquery.git
