<div class="row text-justify">
    <div class="column medium-4">
			{% include vcard.html person=site.data.people.manimejia noname=true %}
			<p class="text-center">References Upon Request</p>
    </div>
    <div class="column medium-8">
      {% if site.data.services.label %}
		  <h3>{{ site.data.services.label }}</h3>
    	{%endif%}
    	
      {% comment %}
      <h3>
      {% for service in site.data.services.list %}
        {% if forloop.last == true %} and {% endif %}
          {{ service.label }}
        {% if forloop.last != true %} , {% endif %}
      {% endfor %}
      </h3>
      {% endcomment %}
      
    	{% if site.data.services.summary %}
		  <p class="{%if include.color %}{{include.color}}-text {%endif%}font-large">
	    {{ site.data.services.summary }}
	    </p>
    	{%endif%}
      <ul class="icon-list {{include.color}}">
      {% for service in site.data.services.list %}
      <li class="fi-{{service.icon}}">
          <strong class="left">{{service.label}}:&nbsp;</strong> {{service.summary | markdownify }}
      </li>	
      {% endfor %}
    	</ul>
    </div>
<!--  
  <p>I am a communicator. This is the focus of my work in every project and every relationship. </p>
		<ul class="icon-list secondary">
			<li class="fi-star">As a <b>UX Architect</b>, I deliver thoughtful designs that keep the experience focused and lean for a quick journey to the desired destination.</li>
			<li class="fi-star">As a seasoned front and back end <b>Developer</b>, I offer intelligent, story-driven, web standards compliant, and scalable contributions to any platform.</li>
			<li class="fi-star">As a <b>Multimedia Creative</b>, I reenforce the end product with sensible layouts, meaningful colors, focused language, engaging multimedia elements, and any other tool required to enhance delivery of the target message.</li>
			<li class="fi-star">As a <b>People Person</b>, I build lasting and honest relationships with clients, users, and colleagues by listening carefully and responding positively.</li>
		</ul>
	<p>All this singular focus on clear communication allows me to dive deep in to any project and tackle the biggest challenge of all, delivering the right message at the right time to the right person.</p>
-->
</div>