{% if include.person %}
{% if include.person.education %}
<ul class="medium-block-grid-{{include.person.education.size}}">
	{%for school in include.person.education %}
<li role="presentation" style="width:{{100 | divided_by : include.person.education.size}}%">
	<div class="left hide-for-print" style="height:100%">
		<img src="/assets/{{school.logo}}" class="icon"/>
	</div>
	<p>
		<span class="font-large">{{school.school}}</span><br/>
		{{school.study}}<br/>
		{{school.start}} - {{school.end}}
	</p>
</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}