{% if include.person %}
{% if include.person.employment %}
<ul class="row no-bullet show-for-medium-up hide-for-print" aria-hidden="true">
	<li class="column medium-4"><b>Employer</b></li>
	<li class="column medium-3"><b>Title</b></li>
	<li class="column medium-2"><b>Dates</b></li>
	<li class="column medium-3"><b>Location</b></li>
</ul>
	{%for employment in include.person.employment %}
<ul class="row table-row no-bullet" role="presentation">
	<li class="column medium-4" role="presentation">
		<h4>{{employment.employer}}</h4>
	</li>
	<li class="column medium-3 {%unless employment.title %}show-for-medium-up{%endunless%}" role="presentation">
		<span><b class="hide-for-medium-up">Title: </b>&nbsp;
		{{employment.title}}</span>
	</li>
	<li class="column medium-2 {%unless employment.dates %}show-for-medium-up{%endunless%}" role="presentation">
		<span><b class="hide-for-medium-up">Dates: </b>&nbsp;
		{{employment.dates}}</span>
	</li>
	<li class="column medium-3 {%unless employment.location %}show-for-medium-up{%endunless%}" role="presentation">
		<span><b class="hide-for-medium-up">Location: </b>&nbsp;
		{{employment.location}}</span>
	</li>
	<li class="column small-12 font-smaller font-italic" role="presentation">
	  <br/>
		{{employment.description | markdownify}}
	</li>
</ul>
	{% endfor %}
{% endif %}
{% endif %}