{% if include.person %}
{% if include.person.employment %}
{%for employment in include.person.employment %}
{%capture employment_id%}{{employment.employer | slugify}}-{{employment.title | slugify}}{%endcapture%}
<article  id="{{employment_id}}" aria-labeledby="{{employment_id}}-title"
class="avoid-breaking-page">
	<header class="row">
	<br/>
		<h4 class="column font-larger" id="{{employment_id}}-title">
			{{employment.title}}
		</h4>
		<big class="column font-italic">
			<span class="left">
			<span class="font-large">{{employment.employer}}</span><br/>
			<a class="text-smaller hide-href-for-print" href="http://{{employment.website}}" target="_blank">{{employment.website}}</a>
			</span>
			<span class="right text-right">
			{{employment.dates}}<br/>
			{{employment.location}}
			</span>
		</big>
	</header>
	<div class="font-smaller">
		{{employment.description | markdownify}}
	</div>
</article>
{% endfor %}
{% endif %}
{% endif %}