{%comment%}
{% assign clients = site.pages | where: "category" , "client"  | sort : "enddate" %}
<ul class="medium-block-grid-3 large-block-grid-3">

{% for client in clients reversed %}
  {% if client.publish.featured %}

  <li class="text-center">
    <h3 class="font-large"><a href="{{ client.website }}">{{ client.title }}</a></h3>
    <p class="font-smaller text-justify"><em>{{ client.description }}</em></p>
    <p class="font-smaller">{{ client.location }}</p>
  </li>

  {%endif%}
{%endfor%}

</ul>
{%endcomment%}

{% if include.person %}
{% assign person = include.person %}
{% endif %}
{% unless person %}
{% assign person = site.people.manimejia %}
{% endunless %}

{% if person.employment %}
<ul class="medium-block-grid-2 large-block-grid-3" role="presentation">
{%for employment in person.employment %}
  <li class="text-justify" role="presentation">
    <h4>
    {%if employment.website %}
    <a href="{{employment.website}}" target="_blank" title="company website">
      {{employment.employer}}
    </a>
    {% else %}
    {{employment.employer}}
    {% endif %}
    <br/>
    <small>{{employment.location}}</small>
    </h4>
    <div class="font-smaller">
    {{ employment.description | markdownify }}
    </div>
  </li>
  {% endfor %}
</ul>
{%endif%}