{% assign these_pages = site.pages | where: "category" , "project" | sort: "date"  |  sort: "enddate" | sort: "startdate"%}
<style>
span.title a {
color: inherit;
}


.accordion-grid[role="tablist"]{
  position: relative;
  /*text-align:center;*/
  list-style: none;
}
.accordion-grid[role="tablist"] .year{
position: absolute;
margin: -2.2rem 0 0 -2rem;
}
.accordion-grid[role="tablist"] .year time.label{
  font-size:1rem;
}


.accordion-grid[role="tablist"] > .accordion-grid-item{
text-align:center;
font-size:1rem;
display: inline-block !important;
vertical-align: top;
padding-top: 1rem;
border-top: 1px dashed #FFD849;
margin-top: 1rem;
margin-bottom:0rem;
}

.accordion-grid[role="tablist"] > .accordion-grid-item > a[role="tab"]{
position: relative;
text-align: center;
display: block;
color: #FFF;
background: none;
font-family: inherit;
font-size: 0;
text-shadow: 0 0 0 #FFF;
border-radius: 50%;
border-style: solid;
border-color: #FFF;
}

[role="tablist"] a.th[role="tab"]{
  border-color:#222;
}
[role="tablist"] a[role="tab"][aria-expanded="true"]{
  border-color:#fff;
  /*font-size:1rem;*/
}
[role="tablist"] a[role="tab"]:focus{
  outline:none;
}
[role="tablist"] a[role="tab"]:hover,
[role="tablist"] a[role="tab"]:focus{
  box-shadow: 0 0 .5rem .25rem #fff;
}

.accordion-grid[role="tablist"] > * > a[role="tab"][aria-expanded="true"] > .caret{
top: 100%;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-style: solid;
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent;
border-width: 1.5rem;
left: 50%;
margin: -1.2rem 0 0 -1.5rem;
z-index: 5;
}

.accordion-grid[role="tablist"] > * > a[role="tab"] .caption {
  display: none;
  border-radius: 50%;
  font-size:inherit;
/*  color: #222;*/
}

.accordion-grid[role="tablist"] > * > a[role="tab"] .client{
  /*width: 12.5rem;
    height: 12.5rem;*/
  font-weight: bold;
  position: absolute;
  z-index: 0;
}
.accordion-grid[role="tablist"] > * > a[role="tab"] .title {
line-height: 1.3rem; 
height: 8rem;
width: 8rem;
position: relative;
z-index: 2;
background: rgba(255, 255, 255, 0.8);
color: #222;
font-weight: normal;
letter-spacing: .05rem;
vertical-align: middle;
}


html.touch .accordion-grid[role="tablist"] > .accordion-grid-item > a[role="tab"],
.accordion-grid[role="tablist"] > .accordion-grid-item > a[role="tab"][aria-expanded="true"],
.accordion-grid[role="tablist"] > .accordion-grid-item > a[role="tab"]:hover,
.accordion-grid[role="tablist"] > .accordion-grid-item > a[role="tab"]:focus{
  font-size:1rem;
	background: none;
}

html.touch .accordion-grid[role="tablist"] > * > a[role="tab"] .caption,
.accordion-grid[role="tablist"] > * > a[role="tab"][aria-expanded="true"] .caption,
.accordion-grid[role="tablist"] > * > a[role="tab"]:hover .caption,
.accordion-grid[role="tablist"] > * > a[role="tab"]:focus .caption,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption:hover,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption:focus{
  display: table-cell;
}

.accordion-grid[role="tablist"] > * > a[role="tab"]:hover .caption.client,
.accordion-grid[role="tablist"] > * > a[role="tab"]:focus .caption.client,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption.client:hover,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption.client:focus{
  text-shadow: 0 .5rem .5rem #FFF,0 0rem .1rem #FFF;
}

.accordion-grid[role="tablist"] > * > a[role="tab"]:hover .caption.title,
.accordion-grid[role="tablist"] > * > a[role="tab"]:focus .caption.title,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption.title:hover,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption.title:focus{
	text-shadow: 0 0rem .5rem #FFF;
}

/*
.accordion-grid[role="tablist"] > * > a[role="tab"][aria-expanded="true"] .caption.client,
.accordion-grid[role="tablist"] > * > a[role="tab"]:hover .caption.client,
.accordion-grid[role="tablist"] > * > a[role="tab"]:focus .caption.client,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption:hover .caption.client,
.accordion-grid[role="tablist"] > * > a[role="tab"] .caption:focus .caption.client{
  display: block;
}
*/


/*.accordion-grid[role="tablist"] > .accordion-grid-item > .th .title {
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
color: inherit;
top: 0;
position: relative;
z-index: 2;
vertical-align: middle;
}*/

.accordion-grid[role="tablist"] > * > a[role="tab"] .th-image{
width: 8rem;
height: 8rem;
font-size: 8rem;
line-height: 8rem;
border-radius: 50%;
position: absolute;
z-index: 1;
top: 0;
left: 0;
display: block;
}
.accordion-grid[role="tablist"] > * > a[role="tab"]:hover .th-image,
.accordion-grid[role="tablist"] > * > a[role="tab"] .client:hover ~ .th-image,
.accordion-grid[role="tablist"] > * > a[role="tab"][aria-expanded="true"]  .th-image{
/*box-shadow: #fff 0 0 10px;*/
}


.accordion-grid[role="tablist"] >  * > [role="tabpanel"]{
  position: absolute;
  left: 0;
  z-index: 10;
  text-align:left;
  font-size:.8rem;
  /*background: #222;*/
  /*display:block;*/
  /*height:auto;*/
  /*height:0px;*/
}
.accordion-grid[role="tablist"] >  * > [role="tabpanel"][aria-hidden="false"]{
  /*height:auto;*/
  display: initial;
}
[role="tabpanel"] > figure{
	margin:0;
}


/*
article.accordion-grid-item .th a.th-link .title{
  display: none;
}
article.accordion-grid-item .th a.th-link:hover .title{
  display: block;
}*/

/** 
 * loading spinners
 * http://projects.lukehaas.me/css-loaders/
 */
.accordion-grid[role="tablist"] > * > a[role="tab"][aria-busy='true']:before {
  content:'';
  font-size: 10px;
  position: absolute;
  top:0;
  left:0;
  border-top:   1.1em solid rgba(255, 255, 255, 0.8);
  border-right: 1.1em solid rgba(255, 255, 255, 0.8);
  border-bottom:1.1em solid rgba(255, 255, 255, 0.8);
  border-left: 1.1em solid #222;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index:10;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*.accordion-grid[role="tablist"].year{
position: absolute;
margin: -2.2rem 0 0 -2rem;
}
.accordion-grid[role="tablist"].year time.label{
  font-size:1rem;
}*/


.accordion-grid > .accordion-grid-item {
  width:auto;
}
.accordion-grid > .accordion-grid-item .year{
  display:none;
}
.accordion-grid > .accordion-grid-item > a[role="tab"]{
  transition:
    transform  400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0ms,
    opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0ms,
    width 400ms linear 400ms,
    height 400ms linear 400ms,
    margin 400ms linear 400ms,
    padding 400ms linear 400ms;

  transform: scale(0) ;
  opacity: 0 ;
  width: 0 ;
  height: 0 ;
  margin: 0 ;
  padding:0 ;
  /*border-color:transparent ;*/
  border-width: 0;

}

.accordion-grid.filter-show-all > .accordion-grid-item > a[role="tab"],
.accordion-grid > .filter-show.accordion-grid-item > a[role="tab"] {
  transition:
    transform  400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 400ms,
    opacity 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 400ms,
    width 400ms linear 0ms,
    height 400ms linear 0ms,
    margin 400ms linear 0ms,
    padding 400ms linear 0ms,
    font-size 200ms ease-out,
    box-shadow 200ms ease-out,
    color 200ms ease-out;

  transform: scale(1) ;
  opacity: 1 ;
  width: 8.5rem;
  height: 8.5rem;
  margin: 2.2rem 2.2rem 1.5rem;
  padding: initial;
  border-width: .25rem;
}
.accordion-grid.filter-show-all > .accordion-grid-item .year,
.accordion-grid > .filter-show.accordion-grid-item .year{
  display:initial;
}



{%for this_page in these_pages %}{% if this_page.client %}{% unless this_page.publish.draft %}
{% include _this_page.liquid %}
.filter-show-all > .accordion-grid-item.hasyear-{{this_page_date | date: '%Y' }} ~ 
.accordion-grid-item.hasyear-{{this_page_date | date: '%Y' }} > .year,
.filter-show.accordion-grid-item.hasyear-{{this_page_date | date: '%Y' }} ~ 
.accordion-grid-item.hasyear-{{this_page_date | date: '%Y' }} > .year{
display:none;
}
{% endunless %}{% endif %}{%endfor%}

</style>


<script>

</script>

{% assign unique_services = ""%}
{% for this_page in these_pages reversed %}
  {% if this_page.client %}
    {% unless this_page.publish.draft %}
      {% for this_service in this_page.services %}
        {% unless unique_services contains this_service %}
          {% assign unique_services = unique_services | append : ',' | append : this_service%}
        {%endunless%}
      {%endfor%}
    {%endunless%}
  {%endif%}
{%endfor%}

{%assign unique_services = unique_services | split : ',' | sort %}
<div class="row">
<nav id="portfolio-filters" class="column small-12 medium-10 small-centered">
<div id="portfolio-filters-buttons" class="toggle text-center show-for-medium-up" data-toggle="buttons-radio">
  <button id="filter-show-all" data-toggle="button" data-tabs-close class="button info   small" onclick="filterPortfolioItems(false)">
  Show All Projects</button>
  
  {% for service in unique_services %}
  {% unless service == "" %}
    <div class="inline">
      <input type="radio" id="filter-{{service | slugify }}" name="filter-radios" 
      data-toggle="button" data-filter="{{service | slugify }}"
      onclick="filterPortfolioItems()">
      <label class="button check fi-check small" for="filter-{{service | slugify }}"   data-tabs-close>
      {{service}}
      </label>
    </div>
  {%endunless%}
  {%endfor%}
</div>
<select id="portfolio-filters-select" class="show-for-small-only"
onchange="filterPortfolioItems($(this).val())" data-tabs-close>
  <option value="showall">Show All Projects</option>
  {% for service in unique_services %}
  {% unless service == "" %}
  <option value="{{service | slugify }}">{{service}}</option>
  {%endunless%}
  {%endfor%} 
</select>
</nav>

<ul id="portfolio-accordion-grid" class="accordion-grid column filter-show-all text-center" role="tablist"
data-tabs="accordionGrid" data-tabs-get-expanded-tab-from-location-hash="true" data-tabs-set-location-hash-to-expanded-tab="true"
{% comment %}
data-accordiongrid='{"getExpandedTabFromLocationHash":true,"setLocationHashToExpandedTab":true}' 
data-aria-tab-group="accordion-grid"
{% endcomment %}>
{% for this_page in these_pages reversed %}
  {% if this_page.client %}
  {% unless this_page.publish.draft %}
  <!-- publish : {{ this_page.publish }} -->
  {% include _this_page.liquid %}

  {% assign item_year = this_page_date | date: '%Y' %}
  {% unless last_item_year %}{% assign last_item_year = 0000 %}{% endunless %}

  {%capture this_page_services%}{%for this_service in this_page.services%} {{this_service | slugify }}{%endfor%}{%endcapture%}

    <li id="{{ this_page_id }}-wrapper" 
    data-filter="{{this_page_services}}"
    class="accordion-grid-item hasyear-{{this_page_date | date: '%Y' }}">
      <h3 class="year inline-block primary-text" role="heading"><time class="label warning point-right">{{ item_year }}</time></h3>
    {% if item_year != last_item_year %}
    {% endif %}
      <a id="{{ this_page_id }}-th" href="{{ this_page.url }}" class="th skrollr-perspectivezoom-bottom transition" role="tab" aria-controls="{{this_page_id}}" data-scroll-offset="128" tile="project {{forloop.index}} of {{forloop.length}}">
        <!--<span class="title th-link">{{ this_page.title }}</span>-->
        <span class="hidden-for-small-only hidden-for-medium-up">{{ this_client_page.title}} - {{ this_page.title }}</span>
        <span class="client caption circular-text" aria-hidden="true" hidden>{% include split_char.html string=this_client_page.title %}</span>
        <span class="title caption" aria-hidden="true" hidden>{{ this_page.title }}</span> 
        {% if this_page.thumbnail %}
        <img class="th-image" src="{{ this_page_assetpath }}{{ this_page.thumbnail }}" alt="" aria-hidden="true">
        {% endif %}
        <i class="caret border-primary"></i>
      </a>

      <div id="{{ this_page_id }}" class="content column bg-primary" role="tabpanel"
        data-load="{{ this_page.url }} #{{ this_page_id }}-article" 
				data-ajax-url="{{ this_page.url }}" 
				data-ajax-selector="#{{ this_page_id }}-article" 
				aria-hidden="true" aria-busy="true"></div>
    </li>

  {% assign last_item_year = item_year %}
  {% endunless %}
  {% endif %}
{% endfor %}
</ul>


</div>

