<style>
span.title a {
color: inherit;
}


.tabgroup.accordion-grid{
  position: relative;
  text-align:center;
}
.tabgroup.accordion-grid .year{
position: absolute;
margin: -2.2rem 0 0 -2rem;
}
.tabgroup.accordion-grid .year time.label{
  font-size:1rem;
}
.year time.label::after {
bottom: 0px;
border: 0.8rem solid rgba(0, 0, 0, 0);
content: ' ';
height: 0px;
width: 0px;
position: absolute;
pointer-events: none;
border-left-color: #FFBE00;
right: -1.5rem;
}


.tabgroup.accordion-grid > .accordion-navigation{
font-size:1rem;
display: inline-block !important;
vertical-align: top;
padding-top: 1rem;
border-top: 1px dotted #555;
margin-top: 1rem;
margin-bottom:0rem;
}

.tabgroup.accordion-grid > .accordion-navigation > a[role="tab"]{
position: relative;
text-align: center;
display: table;
width: 8.5rem;
height: 8.5rem;
margin: 2.2rem 2.2rem 1.5rem;
color: #FFF;
background: initial;
padding: initial;
font-family: inherit;
font-size: 0;
text-shadow: 0 0 0 #FFF;
border-radius: 50%;
border: solid .25rem #FFF;
}

.tabgroup.accordion-grid > .accordion-navigation > a[role="tab"][aria-expanded="true"],
.tabgroup.accordion-grid > .accordion-navigation > a[role="tab"]:hover,
.tabgroup.accordion-grid > .accordion-navigation > a[role="tab"]:focus{
  font-size:1rem;
}

.tabgroup a[role="tab"][aria-expanded="true"]{
  border-color:#222;
  /*font-size:1rem;*/
}
.tabgroup a[role="tab"]:focus{
  outline:none;
}
.tabgroup a[role="tab"]:hover,
.tabgroup a[role="tab"]:focus{
  box-shadow: 0 0 .5rem .25rem #fff;
}

.tabgroup.accordion-grid > * > a[role="tab"][aria-expanded="true"]:after{
top: 100%;
border: solid rgba(0, 0, 0, 0);
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-bottom-color: #222;
border-width: 1.5rem;
left: 50%;
margin: -1.3rem 0 0 -1.5rem;
z-index: 5;
}

.tabgroup.accordion-grid > * > a[role="tab"] .caption {
  display: none;
  border-radius: 50%;
  font-size:inherit;
  color: #222;
  text-shadow: 0 .5rem .5rem #FFF, 0 0 .1rem #FFF;
}

.tabgroup.accordion-grid > * > a[role="tab"] .client{
  font-weight: bold;
  position: absolute;
  z-index: 0;
}
.tabgroup.accordion-grid > * > a[role="tab"] .title {
line-height: 1.3rem; 
height: 8rem;
width: 8rem;
position: relative;
z-index: 2;
background: rgba(255, 255, 255, 0.8);
font-weight: normal;
letter-spacing: .05rem;
vertical-align: middle;
}

.tabgroup.accordion-grid > * > a[role="tab"][aria-expanded="true"] .caption,
.tabgroup.accordion-grid > * > a[role="tab"]:hover .caption,
.tabgroup.accordion-grid > * > a[role="tab"]:focus .caption,
.tabgroup.accordion-grid > * > a[role="tab"] .caption:hover,
.tabgroup.accordion-grid > * > a[role="tab"] .caption:focus{
  display: table-cell;
}


/*.tabgroup.accordion-grid > .accordion-navigation > .th .title {
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
color: inherit;
top: 0;
position: relative;
z-index: 2;
vertical-align: middle;
}*/

.tabgroup.accordion-grid > * > a[role="tab"] .th-image{
width: 8rem;
height: 8rem;
font-size: 8rem;
line-height: 8rem;
border-radius: 50%;
position: absolute;
z-index: 1;
top: 0;
left: 0;
display: block;
}
.tabgroup.accordion-grid > * > a[role="tab"]:hover .th-image,
.tabgroup.accordion-grid > * > a[role="tab"] .client:hover ~ .th-image,
.tabgroup.accordion-grid > * > a[role="tab"][aria-expanded="true"]  .th-image{
/*box-shadow: #fff 0 0 10px;*/
}


.tabgroup.accordion-grid >  * > [role="tabpanel"]{
  position: absolute;
  left: 0;
  z-index: 10;
  text-align:left;
  font-size:.8rem;
  background: #222;
  /*display:block;*/
  /*height:auto;*/
  /*height:0px;*/
}
.tabgroup.accordion-grid >  * > [role="tabpanel"][aria-hidden="false"]{
  /*height:auto;*/
  display: initial;
}

/*
article.accordion-navigation .th a.th-link .title{
  display: none;
}
article.accordion-navigation .th a.th-link:hover .title{
  display: block;
}*/


</style>

<dl id="portfolio-accordion-grid" class="tabgroup accordion-grid row" data-aria-tab-group="accordion-grid" role="tablist">
{% assign listing_pages = site.pages | where: "category" , "project" | sort: "date"%}
{% for this_page in listing_pages reversed %}

  {% include _this_page.liquid %}

  {% assign item_year = this_page.date | date: '%Y' %}
  {% unless last_item_year %}{% assign last_item_year = 0000 %}{% endunless %}

    <dd id="{{ this_page_id }}-wrapper" class="accordion-navigation">
    {% if item_year != last_item_year %}
      <h3 class="year inline-block" role="heading"><time class="label secondary">{{ item_year }}</time></h3>
    {% endif %}
      <a id="{{ this_page_id }}-th" href="#{{ this_page_id }}" class="th skrollr-perspectivezoom-bottom" role="tab" tabindex="0" aria-expanded="false" aria-controls="{{this_page_id}}" data-scroll-offset="128" tile="project {{forloop.index}} of {{forloop.length}}">
        <!--<span class="title th-link">{{ this_page.title }}</span>-->
        <span class="client caption hidden-for-small-only hidden-for-medium-up">{{ this_client_page.title}}</span>
        <span class="client caption circular-text" aria-hidden="true">{% include split_char.html string=this_client_page.title %}</span>
        <span class="title caption" >{{ this_page.title }}</span> 
        {% if this_page.thumbnail %}
        <img class="th-image" src="{{ this_page_assetpath }}{{ this_page.thumbnail }}" aria-hidden="true">
        {% endif %}
      </a>

      <div id="{{ this_page_id }}" class="content column" role="tabpanel"
        data-load="{{ this_page.url }} #page-content > *" aria-hidden="true"/>
    </dd>

{% assign last_item_year = item_year %}

{% endfor %}
</dl>




