<header id="page-title-row" class="row">
  <div id="page-title-column" class="column {% if page.printable  %}small-12 medium-10{%endif%}">
    <h1 id="page-title">{% if include.title  %}{{ include.title }}{% else %}{{page.title}}{%endif%}
    {% if include.small  %}<br/><small>{{ include.small }}</small>{%endif%}</h1>
  </div>
	{% if page.printable  %}
	<div class="column hide-for-small-only medium-2 hide-for-print"
  style="position: fixed;right: 0;z-index: 100;">
		<!-- <a class="button expand info" onclick="window.print()" title="Print this page"><i class="fi-print font-larger"></i>&nbsp;&nbsp;Print</a> -->
    <a href="//pdfcrowd.com/url_to_pdf/"
    class="button expand info" title="Print this page">
    <i class="fi-page-export-pdf font-larger"></i>
    &nbsp;&nbsp;Save As PDF</a>
	</div>
	{%endif%}
</header>