
{% if include.person %}
{% assign person = include.person %}
{% endif %}
{% unless person %}
{% assign person = site.people.manimejia %}
{% endunless %}

{% if person.references %}
<ul class="no-bullet medium-block-grid-1 large-block-grid-{{include.grid | default : '1'}}" role="presentation">
{%for reference in person.references %}
  <li role="presentation" class="column">
    <div class="vcard vcard-horizontal row">
    {% unless forloop.index == 0%}<hr/>{%endunless%}
      <figure class="column small-3">
        {%if reference.profileUrl %}
        {%include _string-this_page_id-url.liquid url=reference.project%}
        <a href="{{reference.profileUrl}}" class="thumb" target="_blank">
        {%endif%}
        {%if reference.profileImg%}
        <img class="left icon vcard-picture focusable" aria-hidden="true" src="{{reference.profileImg}}"   alt=  "{{reference.fullname}}">
        {%endif%}
        {%if reference.profileUrl %}
        </a>
        {%endif%}
      </figure>
      <header class="column small-9">
        <big> {{reference.fullname}}</big><br/>
        <b>{{reference.title}}</b><br/>
        <em>{{reference.employer}}</em>
      </header>
    </div>
    {%if reference.project %}
    {% include _object-this_project_page-project.liquid project_id=reference.project %}
    {% include _string-this_page_id.liquid this_page=this_project_page %}
    <p class="center">
      <a href="#" data-reveal-id="{{this_page_id}}-modal">{{this_project_page.title}}</a>
    </p>
    {%endif%}
    <blockquote class="font-smaller font-italic" >
    {{ reference.quote | markdownify }}
    </blockquote>
  </li>
  {% endfor %}
</ul>
{%endif%}