
{% assign project_ids = "" %}
<div id="services" class="relative">
<nav class="fixed-inside-parent show-for-medium-up">
<dl class="sub-nav block text-center bg-primary bg-darkest">
  {% for service in site.data.services.list %}
  <dd class="">
    <a role="button" tabindex="-1" class="text-shadow-deep" href="#{{service.label | slugify}}" title="{{service.label}}">
    <!-- <i class="fi-{{service.icon}} hide-for-medium-only">&nbsp;</i>  -->
    {{service.label}}
    </a>
  </dd>
  {%endfor%}
</dl>
</nav>

<br class="show-for-medium-up"/>
<br class="show-for-medium-up"/>

{% for service in site.data.services.list %}
<div
id="{{service.label | slugify}}"
class="service row"
tabindex="0"
data-scroll-offset="-50"
style="{% if service.unsplash %} 
background:url({{site.sources.unsplash}}/{{service.unsplash}}/1280x960) 50% 50%;
background-size:cover;
{% endif %}"> 

<div class="service-content-wrapper text-shadow-deep {%if service.color %}{{service.color}}-text{%endif%}">
  <header class="service-heading text-center row">
    <div class="service-icon-box">
      <i class="fi-{{service.icon}} icon {%if service.color %}{{service.color}}-text{%endif%}"></i>
    </div>       
    <h3 class="font-xlarger">
      {{service.label}}
    </h3>
    
  </header>

  <div class="service-description">
  {% if service.summary %}
    <p class="font-bold">
      {{service.summary}}
    </p>
  {%endif%}
  {% if service.description %}
      {{service.description | markdownify}}
  {%endif%}
  <ul class="large-block-grid-{{service.accomplishments.size}}">
    {% for accomplishment in service.accomplishments %}
    <li class="secondary-text">
      {% assign project_ids = project_ids | append : "," | append : accomplishment.project_id %}
      {% include _object-this_project_page-project.liquid project_id=accomplishment.project_id %}
      {% include _string-this_page_id.liquid this_page=this_project_page %}
      <p>
        <a href="#" data-reveal-id="{{this_page_id}}-modal">{{this_project_page.title}}</a>
      </p>
      {{accomplishment.description | markdownify}}
    </li>
    {% endfor %}
  </ul>
  </div>

</div>    
</div>
{% endfor %}    

{% comment %}
<div>
  <p>{{project_ids}}</p>
  {% include _string-string_of_strings.liquid string_of_strings=project_ids %}
  <p>{{string_of_strings}}</p>
  {% for this_project_id in string_of_strings | split:"," %}
  {% include _object-this_project_page-project.liquid project_id=this_project_id %}
  {% include _this_page.liquid this_page=this_project_page %}
  {% include portfolio-highlight.html compact=true asmodal=true %}
  {% endfor %}
</div>
{% endcomment %}
</div>

