<div class="sticky">
  <nav class="top-bar" data-topbar id="topbar" role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">{{ site.config.name }}</a></h1>        
      </li>
      <li class="toggle-topbar menu-icon"><a href="#topbar">{{ site.config.topbar.toggle }}</a></li>
    </ul>
    <div class="top-bar-section">
      {% if site.config.topbar.left %}
      <ul class="left">
      {% for item in site.config.topbar.left %}
        <li{% if item.class %} class="has-form"{% endif %}>
          <a href="{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if site.config.topbar.right %}
      <ul class="right">
      {% for item in site.config.topbar.right %}
        <li{% if item.class %} class="has-form"{% endif %}>
          <a href="{{ item.url }}" class="{{ item.class }}">{{ item.name }}</a>
        </li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </nav>
</div>