{% if include.person %}
{% assign vcard_id = include.person.uid |  default: "person" | append: "-vcard" %}
<div role="contentinfo" class="vcard {%if include.compact %}vcard-compact{%endif%}" 
{%if include.compact %}tabindex="0"{%endif%} aria-labelledby="{{ vcard_id }}-name">
  {% unless include.nopicture %}
  <figure>
  <img class="vcard-picture hide-for-print" aria-hidden="true"
  src="/assets/manimejia-gravatar.jpeg" style="width:100%" alt="{{ include.person.name }}"/>
  {% unless include.noname %}
  <figcaption class="vcard-name subtitle text-center" id="{{ vcard_id }}-name">
    {{ include.person.name }}
  </figcaption>
  {% endunless %}
  </figure>
  {% endunless %}

  {%if include.nopicture %}
  {% unless include.noname %}
  <p class="vcard-name subtitle text-center font-larger" id="{{ vcard_id }}-name">
    {{ include.person.name }}
  </p>
  {% endunless %}
  {%endif%}

  {%if include.message %}
  <p class="vcard-message">{{ include.message | markdownify}}</p>
  {%endif%}

  <ul class="vcard-info font-large" role="presentation">
    {% for sociallink in include.person.social %}
    <li class="vcard-social-{{sociallink.icon}}" role="presentation">
      <b class="hidden-for-small-only hidden-for-medium-up">{{sociallink.icon | capitalize}}: </b>
      <a href="{{{{sociallink.url}}" title="{{sociallink.icon}}" target="_blank">
      {% if sociallink.icon %}
      <i class="fi-social-{{sociallink.icon}}"></i>
      {% elsif sociallink.logo %}
      <img src="{{sociallink.logo}}" style="width:1em;height:1em"/>
      {% endif %}
      &nbsp;
      <small>{{sociallink.url | remove:"http://"}}</small>
      </a>
    </li>
    {%endfor%}
    <li class="vcard-website hide-for-screen" role="presentation">
			<b class="hidden-for-small-only hidden-for-medium-up">Website: </b>
			<a href="http://{{ include.person.website }}">
      <i class="fi-web"></i>&nbsp;
      <small>{{ include.person.website }}</small>
      </a>
    </li>
    <li class="vcard-email" role="presentation">
			<b class="hidden-for-small-only hidden-for-medium-up">Email: </b>
      <a href="mailto:{{include.person.email}}">
			<i class="fi-mail"></i>&nbsp;
			<small>{{ include.person.email }}</small>
      </a>
    </li>
    <li class="vcard-phone" role="presentation">
			<b class="hidden-for-small-only hidden-for-medium-up">Phone: </b>
			<i class="fi-telephone"></i>&nbsp;
			<small>{{ include.person.phone }}</small>
      </li>
    <li class="vcard-locality" role="presentation">
			<b class="hidden-for-small-only hidden-for-medium-up">Location: </b>
			<i class="fi-marker"></i>&nbsp;
      <small> {{ include.person.locality }}, 
      <span class="state">{{ include.person.state }}</span>
      </small>
    </li>
  </ul>
</div>
{% endif %}
