---
title: Web Studio
layout: default
billing_base_rate: 60
billing_base_delivery: 2
billing_ratescales:
- name: Introductory Rates
  description: I offer a 25% discount on the first hourly package purchaced of up
    to 480 hours.
  colorcode: success
  ratemod: 0.75
  maxhours: 480
- name: Standard Rates
  description: This is the rate scale used to determine the price for most hourly
    packages.
  colorcode: primary
- name: Rush Rates
  description: I offer priority delivery for 125% upcharge on hourly packages of 40
    hours or more.
  colorcode: alert
  ratemod: 1.25
  delivery: 1
  minhours: 40
billing_packages:
- name: 1 Hour
  hours: 1
- name: 1 day
  hours: 8
- name: 1 week
  hours: 40
- name: 1 month
  hours: 160
- name: '3 months '
  hours: 480
- name: 1 year
  hours: 1920
script: "<script>\n  (function($){\n    $(document).ready(function() {\n\n      var
  billing_base_rate = 60;\n      var billing_base_delivery = 2;\n      // var billing_rush_mod
  = 1.25;\n      // var billing_discount_mod = .75;\n      \n      function getBillingRatescaleBaseRate(ratescale){\n
  \       ratescale = ratescale || {};\n        var ratemod = ratescale.ratemod ||
  1;\n        var baserate =  \n          ratescale.baserate ? ratescale.baserate
  :\n          billing_base_rate * ratemod ;\n        return baserate;\n      }\n\n
  \     function getBillingPackageRate(package,ratescale){\n        package =  package
  || {};\n        ratescale = ratescale || {};\n        var hours = package.hours
  || 1;\n        var baserate = getBillingRatescaleBaseRate(ratescale);\n        var
  packagerate = baserate - Math.round(Math.log10(hours)*(baserate/10))\n        return
  packagerate;\n      }\n\n      function getBillingPackageDeliveryDays(package,ratescale){\n
  \       package =  package || {};\n        ratescale = ratescale || {};\n        var
  hours = package.hours || 1;\n        var delivery = ratescale.delivery || billing_base_delivery;\n
  \       return Math.ceil((hours/8)*delivery);\n      }\n\n      $(\".billingRatescale[data-billing-ratescale]\").each(\n
  \       function(index,element){\n          var \n            $element = $(element),\n
  \           billingRatescale = $element.data(\"billingRatescale\"),\n            baserate
  = getBillingRatescaleBaseRate(billingRatescale),\n            noop = null;\n          $element.find('[data-print-baserate]').text('$'+baserate+'/hr');\n
  \       }\n      );\n      $(\".billingPackageDetails[data-billing-package]\").each(\n
  \       function(index,element){\n          var \n            $element = $(element),\n
  \           billingPackage = $element.data(\"billingPackage\") || {},\n            billingRatescale
  = $element.parents(\".billingRatescale[data-billing-ratescale]\")\n              .data(\"billingRatescale\")
  || {},\n            name = billingPackage.name,\n            hours = billingPackage.hours,\n
  \           maxhours = billingRatescale.maxhours || hours,\n            minhours
  = billingRatescale.minhours || hours,\n            rate = getBillingPackageRate(billingPackage,billingRatescale),\n
  \           fee = hours*rate,\n            deliveryDays = getBillingPackageDeliveryDays(billingPackage,billingRatescale);\n
  \           deliveryWeeks = deliveryDays / 5,\n            printRate = \n              maxhours
  >= hours && minhours <= hours ? '$'+rate+'/hr' : \n              '--',\n            printFee
  = \n              maxhours >= hours && minhours <= hours ? '$'+fee.toLocaleString()
  :\n              '--',\n            printDelivery = \n              maxhours >=
  hours && minhours <= hours ? \n              deliveryWeeks > 1 ? deliveryWeeks+'
  weeks' : \n              deliveryDays > 1 ? deliveryDays+' days' : \n              deliveryDays+'
  day' :\n              '--',\n            // rushRate = rate * billing_rush_mod,\n
  \           // rushFee = hours*rushRate,\n            // rushDeliveryDays = getBillingPackageDeliveryDays(billingPackage,billingRatescale);\n
  \           // rushDeliveryWeeks = rushDeliveryDays / 5,\n            // rushDelivery
  = \n            //   rushDeliveryWeeks > 1 ? rushDeliveryWeeks+' weeks' : \n            //
  \  rushDeliveryDays > 1 ? rushDeliveryDays+' days' : \n            //   rushDeliveryDays+'
  day',\n            noop = null;\n\n          console.log(billingRatescale, billingPackage);\n\n
  \         // if(minhours <= hours){\n            $element.find('[data-print-rate]').text(printRate);\n
  \           $element.find('[data-print-fee]').text(printFee);\n            $element.find('[data-print-delivery]').text(printDelivery);\n
  \         // }\n          // $element.find('[data-print-rushrate]').text('$'+rushRate+'/hr');\n
  \         // $element.find('[data-print-rushfee]').text('$'+rushFee.toLocaleString());\n
  \         // $element.find('[data-print-rushdelivery]').text(rushDelivery);\n          //
  $element.append(\n          //   $('<div class=\"column small-4 overlay info fullheight
  billingPackageName\">'+\n          //       '<span class=\"left\">'+name+'</span>'+\n
  \         //       '<span class=\"right\">('+hours+')</span>'+\n          //     '</div>'),\n
  \         //   $('<div class=\"column small-4 overlay success fullheight billingPackageRate\">'+\n
  \         //       '<span class=\"left\">$'+rate+'/hr</span>'+\n          //       '<span
  class=\"right\">'+delivery+' days</span>'+\n          //       '<span class=\"center\">$'+fee.toLocaleString()+'</span>'+\n
  \         //     '</div>'),\n          //   $('<div class=\"column small-4 overlay
  alert fullheight billingPackageRate\">'+\n          //       '<span class=\"left\">$'+rushRate+'/hr</span>'+\n
  \         //       '<span class=\"right\">'+rushDelivery+' days</span>'+\n          //
  \      '<span class=\"center\">$'+rushFee.toLocaleString()+'</span>'+\n          //
  \    '</div>')\n          // );\n        }\n      );\n\n    });\n  })(jQuery)\n</script>\n"
---

<style>
.billingPackageHeader .overlay{
  margin-top:1em;
  min-height:10em;
}
.billingPackageHeader .overlay.primary{
  margin-top:0;
  min-height:11em;
}
</style>

<div class="row">
<section class="overlay secondary column small-12">
The <em>Manuel Mejia Web Studio</em> is a creative web development shop offering micro site and multimedia app development. These are limited in duration engagements, tending to focus on the production of interactive content pieces for targeted audiences.
</section>


<section class="billingPackages column small-12">
<h2>Hourly Packages and Rates</h2>

<p>Web Studio projects are billed by the <em>working hour</em>. Working hours are pre purchased in bulk <em>packages</em> based on a <em>range estimate</em> developed for each project. Hourly rates for any package are determined by a standard formula, <kbd>round(log10(<b>H</b>)*(<b>R</b>/10))</kbd>. Where <kbd>H</kbd> represents the number of hours being purchased and <kbd>R</kbd> represents the rate for a single hour of the standard, introductory, or rush package being purchased.

</p>

<div class="billingPackageHeader row">
<div class="column small-10  small-offset-2 ">
  <div class="row">
  {% for billing_ratescale in page.billing_ratescales %}
    <div class="column small-{{12 | divided_by : page.billing_ratescales.size | round}} billingRatescale overlay {{billing_ratescale.colorcode}} fullheight" 
    data-billing-ratescale='{{billing_ratescale | jsonify}}'>
      <div class="">
      <h3 class="billingRateName">
        {{billing_ratescale.name}} 
        <!-- <b class="text-right" data-print-baserate></b> -->
      </h3>
      <p class="billingRateDescription">
        {{billing_ratescale.description}}
      </p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
</div>

<!-- <p>&nbsp;</p> -->

<div class="row">
  <div class="column small-2">
    Example<br/>
    Packages
  </div>
<div class="column small-10"><div class="row">
{% for billing_ratescale in page.billing_ratescales %}
  <div class="column small-{{12 | divided_by : page.billing_ratescales.size | round}} overlay {{billing_ratescale.colorcode}}">
    <div class="row">
      <span class="column small-3"><br/>Rate</span>
      <span class="column small-4 text-right"><br/>Price</span>
      <span class="column small-5 text-right"><br/>Delivery</span>
    </div>
  </div>
{% endfor %}
</div></div>
</div>


{% for billing_package in page.billing_packages %}
<div class="row">
  <span class="billingPackageName column small-2">
    <hr>
    <small class="right">{{billing_package.hours}} hrs</small>
    <span>{{billing_package.name}} </span>
  </span>
  <div class="column small-10"><div class="row">
  {% for billing_ratescale in page.billing_ratescales %}
  <div class="column small-{{12 | divided_by : page.billing_ratescales.size | round}} overlay {{billing_ratescale.colorcode}} billingRatescale"
    data-billing-ratescale='{{billing_ratescale | jsonify}}'>
    <hr>
    <div class="row billingPackageDetails" data-billing-package='{{billing_package | jsonify}}'>
      <small class="column small-3 text-left"> <i data-print-rate></i> </small>
      <big class="column small-4 text-right"> <i data-print-fee></i> </big>
      <small class="column small-5 text-right"> <i data-print-delivery></i> </small>
    </div>
  </div>
  {% endfor %}
  </div></div>
</div>
{% endfor %}

</section>

</div>
    {% comment %}
    <!--
    <div class="column small-3 overlay alert fullheight billingPackageDetailsRush">
      <h3 class="billingPackageHeader">Rush Delivery</h3>
      <div class="billingPackageHeader row">
        <span class="column small-2 text-left">Rate</span>
        <span class="column small-5 text-right">Total Price</span>
        <span class="column small-5 text-left">Delivery</span>
      </div>
      {% for billing_package in page.billing_packages %}
      <div class="billingPackageDetails row"
        data-billing-package-name="{{billing_package.name}}" 
        data-billing-package-hours="{{billing_package.hours}}">
        <span class="column small-2"> <i data-print-rushrate></i> </span>
        <span class="column small-5 text-right"> <i data-print-rushfee></i> </span>
        <span class="column small-5"> <i data-print-rushdelivery></i> </span>
      </div>
      {% endfor %}
    </div>
    -->
    {% endcomment %}


