---
permalink: "/index.html"
layout: default
hide:
  title: true
splash: false
---

{% assign person = site.data.people.manimejia %}
<section role="region" class="clearfix">
<div class="row">
  <div class="column large-3 medium-4 small-7 small-centered">
    <br/>
    {% include vcard.html person=person id="contact" compact=true%}
  </div>
</div>

<div class="row text-center">
    <header class="column medium-10 small-11 small-centered">
    {% if person.title %}
    <h2>{{person.title}}</h2>
    {%endif%}
    {% if person.byline %}
    <p class="font-large">
    {{ person.byline }}
    </p>
    {%endif%}
    </header>
    {% if person.summary %}
    <header class="column medium-8 small-10 small-centered secondary-text">
    {{person.summary | markdownify}}
    </header>
    {%endif%}
    {% if person.numbers %}
    <ul class="small-block-grid-{{person.numbers.size}} clearfix">
    {% for numberinfo in person.numbers %}
      <li>
        <i class="font-xlarger fi-{{numberinfo.icon}} {%if numberinfo.color %}{{numberinfo.color}}-text{%endif%}">&nbsp;</i>
        <b class="font-xxlarger">{{numberinfo.number}}</b>
        <i class="{%if numberinfo.color %}{{numberinfo.color}}-text{%endif%}">
        {{numberinfo.increment}}</i>
        <h3 class="{%if numberinfo.color %}{{numberinfo.color}}-text{%endif%}">{{numberinfo.label}}</h3>
      </li>
    {%endfor%}
    </ul>
    {%endif%}

</div>
</section>

<hr/>

<section id="experience" class="row clearfix avoid-breaking-page"
aria-labelledby="experience-heading">
<br/>
<div class="column">
<h2 id="experience-heading" class="text-center">
Professional Experience <br>
<small>In 32,000 Hours</small>
</h2>
<figure class="text-center">
  <img src="https://docs.google.com/spreadsheets/d/1gBdIVCMZN1qdhwwWIwwZjQtkmucS-or_XAKocYftV48/pubchart?oid=1304103581&format=image" style="mix-blend-mode:screen;"
alt="Chart showing Manuel Mejia's work experience since 2001"/>
  <figcaption class="hide-for-print">
    <a href="https://docs.google.com/spreadsheets/d/1gBdIVCMZN1qdhwwWIwwZjQtkmucS-or_XAKocYftV48/pubhtml?gid=0&single=true" target="_blank" 
    title="online spreadsheet from which the above chart is made">chart data</a>
  </figcaption>
</figure>
</div>
<br/>
<br/>
</section>

<hr/>

<section id="capacity" role="region" class="clearfix "
aria-labelledby="services-heading">
<h2 id="services-heading" class="text-center">
Proven Capacity
</h2>
  {% include services.html %}
</section><!-- #services -->

<hr/>

<section id="clients" class="row" aria-labelledby="clients-heading">
  <h2 id="clients-heading" class="text-center">
    Satisfied Cients and Co-Workers
  </h2>
  <div class="bg-primary">
  {% include references.html grid=2%}
  </div>
</section> <!-- #clients -->

<hr/>

<section id="portfolio" class="bg-primary hide clearfix" 
role="region" aria-labelledby="portfolio-heading">
<h2 id="portfolio-heading" class="text-center">
Portfolio Highlights
</h2>
{% include portfolio-highlight-list.html color="warning" compact=true asmodal=true%}
</section> <!-- #portfolio-grid -->


</div>

<!--
  <div class="row">
    <div class="columns">
      <h2 id="blog">Blog</h2>
    </div>
    <div class="medium-8 columns">
      {% include posts-short.html %}
    </div>
    <div class="medium-4 columns">
      <div data-alert class="alert-box warning round">
        <a href="#blog" class="close">&times;</a>Dummy content
      </div>
    </div>
  </div>
  -->

<div id="_hiddenCopyText_" class="hidden"/>

