---
layout: default
title: 
hide:
 title: true
#topbar: true
permalink: /index.html
splash: manicanfly

---

<div class="row">
<section id="services" class="text-center column overlay info" role="region" aria-labelledby="services-heading" tabindex="0">
<h2 id="services-heading" class="text-center skrollr-perspectivezoom-bottom">Professional Services</h2>
  {% include services.html color="warning" %}
</section><!-- #services -->

<section id="portfolio" class="column overlay warning" role="region" aria-labelledby="portfolio-heading" tabindex="0">
<h2 id="portfolio-heading" class="text-center">Portfolio</h2>
{% include listing-grid-inline.html category="project" %}
</section> <!-- #portfolio-grid -->

<section id="aboutme" class="text-center column overlay alert" role="region" aria-labelledby="aboutme-heading" tabindex="0">
<h2 id="aboutme-heading" class="">About Manuel</h2>
<div class="row text-justify">
   <div class="column medium-3">
		{% include vcard.html person=site.data.people.manimejia %}
   </div>
   <div class="column medium-9">
    {{ site.data.people.manimejia.bio | markdownify }}
	</div>
</div>
</section><!-- #aboutme -->
</div>

<!--
  <div class="row">
    <div class="columns">
      <h2 id="blog">Blog</h2>
    </div>
    <div class="medium-8 columns">
      {% include posts-short.html %}
    </div>
    <div class="medium-4 columns">
      <div data-alert class="alert-box warning round">
        <a href="#blog" class="close">&times;</a>Dummy content
      </div>
    </div>
  </div>
  -->



