---
layout: default
title: 
hide:
 title: true
#topbar: true
permalink: /index.html
---

{% assign all_seasons = site.pages | where: "category" , "season" | sort: "date" , "last" %}
<div id="season-wrapper" class="row {{ all_seasons.first.season | slugify }}" role="main">
  {{ all_seasons.first.content }}

<section id="services" class="text-center column" role="region" aria-labelledby="services-heading" tabindex="0">
<h2 id="services-heading" class="text-center skrollr-perspectivezoom-bottom">Professional Services</h2>
  {% include services.html %}
</section><!-- #services -->

<section id="portfolio" class="column" role="region" aria-labelledby="portfolio-heading" tabindex="0">
<h2 id="portfolio-heading" class="text-center">Portfolio</h2>
{% include listing-grid-inline.html category="project" %}
</section> <!-- #portfolio-grid -->

</div>
<!--
  <div class="row">
    <div class="columns">
      <h2 id="blog">Blog</h2>
    </div>
    <div class="medium-8 columns">
      {% include posts-short.html %}
    </div>
    <div class="medium-4 columns">
      <div data-alert class="alert-box warning round">
        <a href="#blog" class="close">&times;</a>Dummy content
      </div>
    </div>
  </div>
  -->



