---
title: Resum&eacute;
permalink: resume.html
hide:
 topbar: false
 title: true
 footer: true
layout: default
printable: true
style: | 
  body{background: #FFF;color: #222;}
  a{color:#0386FC;}
  a.active,
  a:hover,
  a:focus,
  a:active{color:#0082F9;}
  h1,h2,h3,h4,h5,h6,header,header small{color:#222;}
  .highlight{text-shadow:none;}

---
{% assign these_pages = site.pages | where: "category" , "project" | sort: "date" %}
{% assign base_url = 'http://manimejia.me/' %}


{% include page-title.html title=site.config.name small=site.config.description %}

{% include aboutme.html %}

{% comment %}
<!-- <section id="technical-skills" class="row" aria-labelledby="technical-skills-label">
<h2 id="technical-skills-label" class="column">Strengths</h2>
{% include tag-cloud.html category="project" %}
</section> -->
{% endcomment %}

<section id="technical-experience" class="row" aria-labelledby="technical-experience-label">
<h2 id="technical-experience-label" class="column">Technical Experience</h2>
<figure class="column text-center">
<img src="https://docs.google.com/spreadsheets/d/1gBdIVCMZN1qdhwwWIwwZjQtkmucS-or_XAKocYftV48/pubchart?oid=1386956387&format=image" alt="Chart showing Manuel Mejia's work experience since 2001">
<figcaption>
<a href="https://docs.google.com/spreadsheets/d/1gBdIVCMZN1qdhwwWIwwZjQtkmucS-or_XAKocYftV48/pubhtml?gid=0&single=true" title="online spreadsheet from which the chart is made">chart data</a>
</figcaption>
</figure>
</section>

<section id="work-history" class="row" aria-labelledby="work-history-label">
<h2 id="work-history-label" class="column">Work History</h2>
{% for this_page in these_pages reversed %}


  {% if this_page.publish.print == true %}
	{% include _this_page.liquid %}
	{% assign item_year = this_page.date | date: '%Y' %}
	{% unless last_item_year %}{% assign last_item_year = 0000 %}{% endunless %}

	<hr/>
    {% if item_year != last_item_year %}
    <h3 class="year text-center alert-box warning font-larger hide-for-print" role="heading"><time>{{ item_year }}</time></h3>
    {% endif %}

	 <article class="column" aria-labelledby="{{this_page_id}}-title">
	 <div class="row">
	  <aside class="left small-3 text-center" aria-hidden="true">
	  	<img class="project-thumnail" style="margin-right:1.5rem" src="{{ this_page_assetpath }}{{ this_page.thumbnail }}" alt="">
	  </aside>
	  <header class="" role="heading">
	      <h3 class="title" id="{{this_page_id}}-title">
            <small class="client-title">
            {% if this_client_page.website %}
              <a class="client-title" href="{{ this_client_page.website }}" target="_blank" title="client   website">{{ this_client_page.title }}</a>
            {% else %}
            {{ this_client_page.title }} 
            {% endif %}</small><br/>
	        <span class="page-title">{{ this_page.title }}</span> 
	      </h3>
	  </header>
	  <aside class="" role="contentinfo">
	      <ul class="no-bullet inline-list" role="presentational">
	      {% if this_page.date %}
	      <li role="presentational">
	      	<div>
	        <label class="hidden-for-small-only hidden-for-medium-up hide-for-print">Completed:</label> 
	        <i class="fi-clock font-larger"></i>&nbsp;<time>{{ this_page.date | date: "%b %-d, %Y" }}</time>
	        </div>
	      </li>
	      {% endif %}

	      {% if this_page.role %}
	      <li role="presentational">
	      <div>
	        <label class="hidden-for-small-only hidden-for-medium-up hide-for-print">Role:</label> 
	        <i class="fi-at-sign font-larger"></i>&nbsp;<b>{{ this_page.role }}</b>
	        </div>
	      </li>
	      {% endif %}
	      {% if this_page.website %}
	      <li role="presentational">
	      	<div>
	        <label class="hidden-for-small-only hidden-for-medium-up hide-for-print">Link:</label> 
	        <a href="{{this_page.website}}" target="_blank" title="go to {{ this_page.status }} website">
	        <i class="fi-play-circle font-larger"></i>&nbsp;
	        {% if this_page.status %}{{ this_page.status }} {% endif %}website
	        </a>
	        </div>
	      </li>
	      {% elsif this_page.status %}
	      <!-- <li role="presentational">
	        <div>
	        <label class="hidden-for-small-only hidden-for-medium-up hide-for-print-only">Status:</label> 
	        <i class="fi-info font-larger"></i>&nbsp;<b>{{ this_page.status }}</b>
	        </div>
	      </li> -->
	      {% endif %}
	      </ul>
	  </aside>
	  </div>
	  <br>
	  <div class="row">
		{% if this_page.tasks %}
		<section id="{{this_page_id}}-tasks" class="column medium-9 medium-push-3" aria-hidden="false" ar-labelledby="{{this_page_id}}-tasks-label">
	  	  <h4 id="{{this_page_id}}-tasks-label" class="hidden-for-small-only hidden-for-medium-up hide-for-print-only">
	  	Responsibilities</h4>
		  <ul class="icon-list alert">
		  {% for task in this_page.tasks %}
		    <li class="fi-check">
			    <!-- <i class="fi-check font-xlarger highlight left full-height" style="line-height:1em">&nbsp;</i> -->
			    {{ task | strip_html | strip | markdownify }}
		    </li>
		  {% endfor %}
		  </ul>
		</section>
		{% endif %}
	    {% if this_page.tags %}
	    <aside id="{{this_page_id}}-tags" role="complementary" class="column medium-3 medium-pull-9" aria-labelledby="{{this_page_id}}-tags-label">
	      <h4 id="{{this_page_id}}-tags-label"  class="hidden-for-small-only hidden-for-medium-up hide-for-print-only">Skills</h4>
	      <ul class="taglist">
	      {% for tag in this_page.tags %}
	        <li class="label radius success">{{ tag }}</li>
	      {% endfor %}
	      </ul>
	    {% endif %} 
	      <a href="{{base_url}}#{{ this_page_id }}" title="project page" class="button info expand"><i class="fi-link"></i> Read More</a>
	    </aside>
	  </div>

	</article>


 {% endif %}

{% assign last_item_year = item_year %}

{% endfor %}
</section>
