---
title: Resum&eacute;
permalink: resume
hide:
 topbar: false
 title: true
 footer: true
layout: default
printable: true
style: | 
  body{background: #FFF;color: #222;}
  abbr, acronym {color: #222; }
  a{color:#0453F0;}
  a.active,
  a:hover,
  a:focus,
  a:active{color:#033EB2;}
  h1,h2,h3,h4,h5,h6,header,header small{color:#222;}
  .highlight{text-shadow:none;}

---
{% assign highlight_color = 'alert' %}


{% include page-title.html%}

<section id="contact" class="text-center" role="region" 
  aria-labelledby="contact-heading">
  {% include aboutme.html color=highlight_color id="contact" %}
</section>

{% comment %}
<!-- <section id="technical-skills" class="row" aria-labelledby="technical-skills-label">
<h2 id="technical-skills-label" class="column">Strengths</h2>
{% include tag-cloud.html category="project" %}
</section> -->
{% endcomment %}
<hr class="hide-for-print"/>

<section id="technical-experience" class="row avoid-breaking-page" aria-labelledby="technical-experience-label">
<h2 id="technical-experience-label" class="column">
Professional Experience <br>
<small class="primary-text">In 30,000 Hours</small>
</h2>
<figure class="column text-center" style="margin:0">
<img src="https://docs.google.com/spreadsheets/d/1gBdIVCMZN1qdhwwWIwwZjQtkmucS-or_XAKocYftV48/pubchart?oid=1524502507&format=image" alt="Chart showing Manuel Mejia's work experience since 2001">
<figcaption class="hide-for-print">
<a href="https://docs.google.com/spreadsheets/d/1gBdIVCMZN1qdhwwWIwwZjQtkmucS-or_XAKocYftV48/pubhtml?gid=0&single=true" title="online spreadsheet from which the chart is made">chart data</a>
</figcaption>
</figure>
</section>

<hr class="hide-for-print"/>
<br class="hide-for-screen"/>
<br class="hide-for-screen"/>

<section id="employment" class="row avoid-breaking-page" aria-labelledby="employment-label">
<h2 id="employment-label" class="column">Employment</h2>
<div class="column">
{% include employment.html person=site.data.people.manimejia %}
</div>
</section>

<hr class="hide-for-print"/>

<section id="education" class="row avoid-breaking-page" aria-labelledby="education-label">
<h2 id="education-label" class="column">Education</h2>
<div class="column">
{% include education.html person=site.data.people.manimejia %}
</div>
</section>

{% comment %}
<!-- <hr/>
<section id="tagcloud" class="row avoid-breaking-page" aria-labelledby="tagcloud-label">
<h2 id="tagcloud-label" class="column">Experience Tags</h2>
<div class="column">
{% include tag-cloud.html %}
</div>
</section> -->

<!-- <hr/>
<section id="work-history" class="row" aria-labelledby="work-history-label">
<h2 id="work-history-label" class="column small-12 medium-9">Portfolio Highlights</h2>
<a href="{{base_url}}/portfolio" class="column small-12 medium-3">
  <i class="fi-link font-larger"></i> See Full Portfolio</a>
<br/><br/>
<div class="column">
{% include portfolio-highlight-list.html color=highlight_color compact=true %}
</div>
</section> --> <!-- #portfolio-grid -->


<!-- <section id="personal" class="row avoid-breaking-page" aria-labelledby="personal-label">
<h2 id="personal-label" class="column">And One More Thing</h2>
<div class="column">
{{ site.data.people.manimejia.personal | markdownify }}
</div>
</section>
 -->
 {% endcomment %}
