<!doctype html>
<html dir="ltr" lang="{{ site.config.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {% include robots.html %}
  {% include meta-description.html %}

  {% for favicon in site.config.favicons %}
    {% assign size = favicon | split: '-' | last | split: '.' | first %}
    <link rel="icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
    <link rel="apple-touch-icon"
      sizes="{{ size }}x{{ size }}"
      href="{{ favicon }}">
  {% endfor %}

  <link rel="alternate" href="/blog/feed.atom"
    title="{{ site.config.name }}" type="application/atom+xml">

<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Open+Sans:400italic,600,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.libraries.foundation.normalize }}">
  <link rel="stylesheet" href="{{ site.libraries.foundation.icons }}">
  <link rel="stylesheet" href="{{ site.libraries.slick.css }}">
  <link rel="stylesheet" href="{{ site.libraries.manimejia.css }}">
  {% if page.style %}
    <!-- page.style -->
    {{ page.style }}
  {% endif %}
</head>
<body>

{% unless page.hidetopbar %}
{% include topbar.html %}
{% endunless %}

{% unless page.hidetitle %}
  <header id="page-title-row" class="row">
    <div id="page-title-column" class="column">
      <h1 id="page-title">{{ page.title }} 
      {% if page.category %}
      <small class="label" title="category">{{ page.category }}</small>
      {% endif %}
      </h1>
    </div>
  </header>
{% endunless %}

{% unless page.hidecontent %}
  <main id="page-content" class="{{page.category}}">
        {{ content }}
  </main>
{% endunless %}

{% unless page.hidefooter %}
  <footer id="page-footer-row" class="row">
    <div id="page-footer-column" class="column">
      <hr>
    </div>
    <div class="small-8 columns">
      <p>© 2014 <a href="http://penibelst.de/">Manuel Mejia</a>. Licensed under Creative Commons and 
      the <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
    </div>
    <div class="small-4 columns">
      <p class="text-right menu-icon"><a href="#topbar">&#x25B2;</a></p>
    </div>
  </footer>
{% endunless %}

<script src="{{ site.libraries.jquery.js }}"></script>
<script src="{{ site.libraries.modernizr.js }}"></script>
<script src="{{ site.libraries.foundation.js }}"></script>
<script src="{{ site.libraries.slick.js }}"></script>
<script src="{{ site.libraries.skrollr_stylesheets.js }}"></script>
<script src="{{ site.libraries.skrollr.js }}"></script>
<!-- <script src="{{ site.libraries.skrollr_menu.js }}"></script> -->
<script src="{{ site.libraries.manimejia.accordion }}"></script>
<script src="{{ site.libraries.manimejia.js }}"></script>
{% if page.script %}
  <!-- page.javascript -->
  {{ page.script }}
{% endif %}

</body>
</html>