<!doctype html>
<html dir="ltr" lang="{{ site.config.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.config.name}} - {% if page.title  %}{{ page.title }}{% else %}{{site.config.description}}{%endif%}</title>
  {% include robots.html %}
  {% include meta-description.html %}

  {% for favicon in site.config.favicons %}
    {% assign size = favicon | split: '-' | last | split: '.' | first %}
    <link rel="icon" sizes="{{ size }}x{{ size }}" href="{{ favicon }}">
    <link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}" href="{{ favicon }}">
  {% endfor %}

  <link rel="alternate" href="/blog/feed.atom"
    title="{{ site.config.name }}" type="application/atom+xml">

{% for library in page.libraries %}
{% for site_library in site.available_libraries %}
{% if site_library.name == library %}
{% for filepath in site_library.css %}
<link rel="stylesheet" type='text/css' href="{{ filepath }}">
{% endfor %}
{% for headelement in site_library.head %}
{{ headelement }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

{% if page.style %}
<!-- page.style -->
<style>
{{ page.style | scssify }}
</style>
{% endif %}
</head>
<body class="{% unless page.hidetopbar %}f-topbar-fixed{% endunless %}">

{% unless page.hide.topbar %}
{% include topbar.html %}
{% endunless %}

{% unless page.hide.title %}
{% include page-title.html %}
{% endunless %}

{% unless page.hide.content %}
  <main id="page-content" class="{{page.category}} {% if page.splash %}splash-wrapper{% endif %}">
  {% if page.splash %}
  {% assign splash_page = site.pages | where: "category" , "splash" | where: "id" , page.splash %}
  {{ splash_page }}
  {% endif %}
  {{ content }}
  </main>
{% endunless %}

{% unless page.hide.footer %}
  <footer id="page-footer-row" class="row">
    <div id="page-footer-column" class="column">
      <hr>
    </div>
    <div class="small-8 columns">
      <p>© 2014 <a href="http://manimejia.me/">Manuel Mejia</a>. Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons License</a> and the <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
    </div>

    <div class="small-4 columns">
      <p class="text-right menu-icon"><a href="#topbar">&#x25B2;</a></p>
    </div>
  </footer>
{% endunless %}

{% for library in page.libraries %}
{% for site_library in site.available_libraries | where: "name", library %}
{% if site_library.name == library %}
{% for library_file in site_library.js %}
<script src="{{ library_file }}"></script>
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

{% if splash_page %}
<!-- splash script -->
{%for this_splash in splash_page %}{{ this_splash.script }}{% endfor %}
{% endif %}


{% if page.script %}
  <!-- page script -->
  {{ page.script }}
{% endif %}

</body>
</html>