---
 layout: default
---
{% include page-title.html title="Project Details" %}

{% assign this_page = page %}
{% include _this_page.liquid %}
{% assign has_page_content = page.content | strip_html | strip | lstrip | rstrip | strip_newlines %}
<article class="row" id="{{this_page_id}}-article" aria-labelledby="{{this_page_id}}-title">
  <nav class="column small-2 small-push-10 medium-1 medium-push-11 text-right" id="{{this_page_id}}-navigation">
    <a title="close this tab" href="#{{this_page_id}}" class="close"><i class="fi-x"></i>
      <span style="display:block;
      position:absolute;
      left:-10000px;
      top:auto;
      width:1px;
      height:1px;
      overflow:hidden;">close this tab</span></a>
  </nav>
  <header class="column small-10 small-pull-2 medium-11 medium-pull-1">
      <h3 class="title" id="{{this_page_id}}-title">
        <small class="client-title">
        {% if this_client_page.website %}
          <a class="client-title" href="{{ this_client_page.website }}" target="_blank" title="client website">{{ this_client_page.title }}</a>
        {% else %}
        {{ this_client_page.title }} 
        {% endif %}</small><br/>
        <span class="page-title">{{ page.title }}</span>
 				{% if page.website %}
 				<!--
	        <a href="{{page.website}}" target="_blank" title="go to {{ page.status }} website">
	        <i class="fi-play-circle font-larger"></i></a>
        -->
	      {% endif %}
      </h3>
  </header>
  <aside class="column small-12" role="contentinfo">
    <div class="row>">
  	{% if page.summary %}
	  <div class="column small-12 medium-8 warning-text">
    {{ page.summary | markdownify }}
    </div>
  	{%endif%}    
    <h4 class="hidden-for-small-only hidden-for-medium-up">Project Meta</h4>
      <ul class="no-bullet text-right" role="presentation">
      {% if this_page_date %}
      <li class="column small-12 medium-4 text-smaller" role="presentation">
        <label class="hidden-for-small-only hidden-for-medium-up">Project Date:</label> 
        <i class="fi-clock font-larger"></i> 
        {% if page.date %}
        <time>{{ page.date | date: "%b %Y" }}</time>
        {% else %}{% if page.startdate %}
        <span class="hidden-for-small-only hidden-for-medium-up"> start :</span> 
        <time>{{ page.startdate | date: "%b %Y" }}</time>
        {% if page.enddate %} - {% endif %}{% endif %}{% if page.enddate %}
        <span class="hidden-for-small-only hidden-for-medium-up"> end :</span> 
        <time>{{ page.enddate | date: "%b %Y" }}</time>
        {% endif %}{% endif %}
      </li>
      {% endif %}

      {% if page.role %}
      <li class="column small-12 medium-4 text-smaller" role="presentation">
        <label class="hidden-for-small-only hidden-for-medium-up">Role:</label> 
        <i class="fi-at-sign font-larger"></i> 
        <b>{{ page.role }}</b>
      </li>
      {% endif %}
      <!--
      {% if page.website %}
      <li class="column small-12 medium-4 text-smaller" role="presentation">
        <label class="hidden-for-small-only hidden-for-medium-up">Status:</label> 
        <a href="{{page.website}}" target="_blank" title="go to {{ page.status }} website">
        <i class="fi-play-circle font-larger"></i> 
        go to {% if page.status %}{{ page.status }}{% endif %} website
        </a>
      </li>
      {% elsif page.status %}
      <li class="column small-12 medium-4 text-smaller" role="presentation">
        <label class="hidden-for-small-only hidden-for-medium-up">Status:</label> 
        <i class="fi-info font-larger"></i> 
        <b>{{ page.status }}</b>
      </li>
      {% endif %}
      -->
      </ul>
      </div>
  </aside>
  <hr/>
  <section id="{{this_page_id}}-content" class="column" data-tabs="tabsGrid" data-tabs-components-tabs-classes-expanded="warning" aria-owns="{{this_page_id}}-content-tablist" aria-labelledby="{{this_page_id}}-content-label">
    <h4 id="{{this_page_id}}-content-label" class="hidden-for-small-only hidden-for-medium-up">
    Project Details</h4>
    <div class="column {% if page.assets %}medium-3 large-4{% else %}medium-2 large-3{% endif %}">
      <nav role="navigation">

        {% if page.website %}
        <p class="text-center font-larger alert-text">
          <a href="{{page.website}}" target="_blank" title="go to {{ page.status }} website">
          <i class="fi-play-circle"></i> {{ page.status }} website
          </a>
        </p>
        {% elsif page.status %}
        <p class="text-center font-larger info-text">
          <i class="fi-info" title="project status"></i> {{ page.status }}
        </p>
        {% endif %}
	
        <ul id="{{this_page_id}}-content-tablist" class="row no-bullet " role="tablist">
        {% assign tabbuttonsmall = 16 %}
        {% if page.tasks %}{% assign tabbuttonsmall = tabbuttonsmall - 4 %}{% endif %}
        {% unless has_page_content == '' %}{% assign tabbuttonsmall = tabbuttonsmall - 4 %}{% endunless %}
        {% if page.assets %}{% assign tabbuttonsmall = tabbuttonsmall - 4 %}{% endif %}
         
        {% if page.tasks %}
          <li role="presentation" class="column small-4 medium-12">
          <a id="{{this_page_id}}-tasks-tab" href="#{{this_page_id}}-tasks" class="button tiny expand alert font-larger" role="tab" aria-expanded="true" aria-controls="{{this_page_id}}-tasks">
          <i class="fi-list-thumbnails"></i><span class="hidden-for-small-only"> Tasks</span></a>
          </li>
        {% endif %}
        {% unless has_page_content == '' %}
          <li role="presentation" class="column small-4 medium-12">
          <a id="{{this_page_id}}-story-tab" href="#{{this_page_id}}-story" class="button tiny expand alert font-larger" role="tab" aria-expanded="false" aria-controls="{{this_page_id}}-story">
          <i class="fi-align-justify"></i><span class="hidden-for-small-only"> Details</span></a>
          </li>
        {% endunless %}
        {% if page.assets %}
          <li role="presentation" class="column small-4 medium-12">
          <a id="{{this_page_id}}-assets-tab" href="#{{this_page_id}}-assets" class="button tiny expand alert font-larger" role="tab" aria-expanded="false" aria-controls="{{this_page_id}}-assets">
          <i class="fi-thumbnails"></i><span class="hidden-for-small-only"> Images</span></a>
          </li>
        {% endif %}
        </ul>

        <!--
      {% if page.assets %}
        <br/>
        <ul class="small-block-grid-4 medium-block-grid-2 large-block-grid-3 text-center" role="tablist">
        {% for asset in page.assets %}
        {% if asset.filename %}
          <li role="presentation">
          <a id="{{this_page_id}}-asset{{forloop.index}}-tab" href="{{this_page_id}}-asset{{forloop.index}}" class="th img-micro" role="tab" aria-expanded="false" aria-controls="{{this_page_id}}-asset{{forloop.index}}" style="background-image:url({{this_page_assetpath}}{{asset.filename}})" title="image {{forloop.index}} of {{forloop.length}}"><img src="" alt="{{asset.caption}}"/>
          </a>
          </li>
        {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
      -->
    
      </nav>
    </div><!-- tablist -->
    
    <div class="column {% if page.assets %}medium-9 large-8{% else %}medium-10 large-9{% endif %}" role="presentation">
      {% if page.tasks %}
      <section id="{{this_page_id}}-tasks" class="active" role="tabpanel" aria-labelledby="{{this_page_id}}-tasks-tab">
        <ul class="circle">
        {% for task in page.tasks %}
          <li>{{ task | strip_html | markdownify }}</li>
        {% endfor %}
        </ul>
      </section>
      {% endif %}
      {% unless has_page_content == '' %}
      <section id="{{this_page_id}}-story" role="tabpanel" aria-labelledby="{{this_page_id}}-story-tab">
        <!-- has_page_content : -->
        <!--{{ has_page_content }}-->
        {{ page.content | markdownify }}
      </section>
      {% endunless %}
      
      {% if page.assets %}
      <section id="{{this_page_id}}-assets" role="tabpanel" class="pagination-centered">
        <div id="{{this_page_id}}-assets-slider" data-tabs="slider" 
          data-tabs-components-tab-list-selector-depth="1"
          data-tabs-components-tabs-classes-expanded="current" >
        
        <a role="button" name="previous" class="left font-larger" tabindex="-1">&laquo;</a>
        <a role="button" name="next" class="right font-larger" tabindex="-1">&raquo;</a>

        <ul role="tablist" class="text-center inline-block-list">
          {% for asset in page.assets %}
          <li>
            <a id="{{this_page_id}}-asset{{forloop.index}}-tab" href="{{this_page_id}}-asset{{forloop.index}}" class="th img-micro" role="tab" aria-expanded="{{forloop.first}}" aria-controls="{{this_page_id}}-asset{{forloop.index}}" style="background-image:url({{this_page_assetpath}}{{asset.filename}})" title="image {{forloop.index}} of {{forloop.length}}"><img src="" alt="{{asset.caption}}"/>
            </a>
            <!--
            <button id="{{this_page_id}}-asset{{forloop.index}}-tab" role="tab" 
            aria-controls="{{this_page_id}}-asset{{forloop.index}}" 
            {%if forloop.first %}aria-expanded="true" class="current"{% endif %}>o</button>
            -->
            </li>
          {% endfor %}
        </ul>
        <hr>
        {% for asset in page.assets %}{% if asset.filename %}
        <div id="{{this_page_id}}-asset{{forloop.index}}" role="tabpanel">
          <figure class="text-center" aria-labelledby="{{this_page_id}}-asset{{forloop.index}}-caption">
            <figcaption id="{{this_page_id}}-asset{{forloop.index}}-caption">{{asset.caption}}</figcaption><br/>
            <img src="{{this_page_assetpath}}{{asset.filename}}" alt="{{asset.caption}}"/>
          </figure>
        </div>
        {% endif %}{% endfor %}
                
        </div>
      </section> 
      {% endif %}
    </div><!-- end panels column -->
    
    {% if page.tags %}
    <aside id="{{this_page_id}}-tags" role="complementary" 
      class="column">
      <hr/>
      <h4 class="hidden-for-small-only hidden-for-medium-up">Tags</h4>
      <ul class="taglist">
      {% for tag in page.tags %}
        <li class="label radius info">{{ tag }}</li>
      {% endfor %}
      </ul>
    </aside>
    {% endif %} 
  </section>
  <nav class="text-center column">
      <a title="close this tab" href="#{{this_page_id}}" class="grippy" tabindex="0">&nbsp;
        <span style="display:block;
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;">close this tab</span></a>
  </nav>
</article>


	 
